<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

        <title>{% block title %}{{config.title}}{% endblock title %}</title>
    </head>

    <body>
        <header>
            {% block header %} {% endblock header %}
        </header>

            <section class="section">
                <div class="container">
                    <div class="content">
                        {% block content %} {% endblock content %}
                    </div>
                </div>
            </section>

        <footer>
            <div class="content has-text-centered">
                <p class="footer-name">Cassaundra Smith 2021</p>
                <p>
                    <a href="https://github.com/cassaundra/cassaundra-io">Source code</a> licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
                    Website content licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>.
                    <!-- <a href="https://github.com/cassaundra/cassaundra-io" target="blank" rel="noopener noreferrer">View source on GitHub</a> -->
                </p>
            </div>
        </footer>
    </body>
</html>
