{% extends "base.html" %}

{% block content %}
<header class="title">
    Hi, I'm Cassaundra.
</header>

<p>Thanks for stopping by!</p>

<ul>
    <li>Browse my <a href="https://github.com/cassaundra" target="blank">GitHub profile</a>.
        Interesting projects include:
        <ul>
            <li><a href="https://github.com/cassaundra/gridloc" target="blank">Gridloc</a> &ndash; Esoteric programming language and interpreter inspired by <a href="https://esolangs.org/wiki/Befunge" target="blank">Befunge</a>.</li>
            <li><a href="https://github.com/cassaundra/rocket" target="blank">Rocket</a> &ndash; Java/Kotlin MIDI client for the Novation Launchpad Mk2.</li>
            <li><a href="https://github.com/cassaundra/tmfast" target="blank">TMFast</a> &ndash; Generalized <a href="https://en.wikipedia.org/wiki/Subway_Challenge" target="blank">Subway Challenge</a> solver using realtime transit data (early development).</li>
        </ul>
    </li>
    <li>View my <a href="/blog">blog posts</a>. At least, once I've written some.</li>
</ul>

{% endblock content %}
